<div class="main-container">
  <header>
    <a routerLink="/users-list" class="nav-link">
    <span class="icon-text">
      <mat-icon
        aria-hidden="false"
        aria-label="home icon"
        fontIcon="home"
      ></mat-icon>
      <span>Users List</span>
    </span>
    </a>
  </header>

  <div class="wrapper">
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
  <footer>
    <div class="copyright">All Rights Reserved &copy;2025</div>
  </footer>
</div>

