<h2 mat-dialog-title>{{ data ? 'Edit User' : 'Add User' }}</h2>
<form class="dialog-form" [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Role</mat-label>
    <input
      type="text"
      matInput
      formControlName="role"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredRoles | async" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>


  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
</form>
